@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-module {
        @apply
        flex 
        border-b-2 
        border-transparent 
        hover:border-blue-300 
        transition  
        duration-150 
        px-4 
        pb-3 
        hover:bg-gray-300 
        hover:rounded-t-md 
        hover:text-white
    }
}